body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease;
}

.card-img-overlay:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* Fija la altura del carrusel y prioriza la parte superior de las fotos */
#heroCarousel .carousel-item img {
    height: 550px; 
    object-fit: cover;
    object-position: center 15%;
    width: 100%;
}

/* Fija la altura de las tarjetas de categorías en el Inicio */
.card .card-img {
    height: 500px; 
    object-fit: cover;
}

.form-control.is-valid, 
.was-validated .form-control:valid,
.form-control.is-invalid, 
.was-validated .form-control:invalid {
    background-image: none !important;
}

/* 1. Botón "Ver Catálogo" Dinámico */
.btn-pro {
    transition: all 0.4s ease;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}
.btn-pro .arrow-icon {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.4s ease;
    width: 0;
}
.btn-pro:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #000;
}
.btn-pro:hover .arrow-icon {
    opacity: 1;
    transform: translateX(0);
    width: 20px; /* Ancho del icono */
    margin-left: 8px !important;
}

/* 2. Tarjetas de Categoría (Efecto Hover 3D) */
.card-hover {
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.4s ease;
    border-radius: 12px;
    overflow: hidden; /* Mantiene la imagen dentro de los bordes curvos */
}
.card-hover:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4) !important;
    z-index: 10;
}

/* 3. Zoom interno de la imagen de la tarjeta */
.card-hover .card-img {
    transition: transform 0.7s ease;
}
.card-hover:hover .card-img {
    transform: scale(1.1); /* Efecto de acercamiento lento */
}

/* 4. Tipografía elegante para títulos */
.tracking-wide {
    letter-spacing: 2px;
}

/* Evitar el borde y check verde en los elementos select (Desplegables) */
.was-validated .form-select:valid, 
.form-select.is-valid {
    border-color: var(--bs-border-color) !important;
    background-image: none !important;
    box-shadow: none !important;
}

/* Paginación moderna */
.pagination .page-link {
    border-radius: 50rem !important;
    margin: 0 5px;
    border: none;
    color: #212529;
    font-weight: 500;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.05);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    color: #000;
}

/* Botón de la página actual */
.pagination .page-item.active .page-link {
    background-color: #212529;
    color: white;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.15);
}

/* Botones Anterior/Siguiente desactivados */
.pagination .page-item.disabled .page-link {
    background-color: #f8f9fa;
    color: #adb5bd;
    box-shadow: none;
}