<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav
      th:fragment="admin-sidebar(activeTab)"
      class="col-md-3 col-lg-2 d-md-block sidebar py-4 position-fixed"
    >
      <div class="position-sticky">
        <div class="text-center mb-4">
          <a th:href="@{/}" class="text-white text-decoration-none fw-bold fs-3"
            >FAHAR</a
          >
          <p class="text-secondary small mt-1">Panel de Control</p>
        </div>
        <hr class="text-secondary" />
        <ul class="nav flex-column mb-auto">
          <li class="nav-item mb-2">
            <a
              th:href="@{/admin/productos}"
              class="nav-link rounded"
              th:classappend="${activeTab == 'productos'} ? 'active' : ''"
            >
              <i class="bi bi-box-seam me-2"></i> Inventario
            </a>
          </li>

          <li class="nav-item mb-2">
            <a
              th:href="@{/admin/ventas}"
              class="nav-link rounded"
              th:classappend="${activeTab == 'ventas'} ? 'active' : ''"
            >
              <i class="bi bi-cart me-2"></i> Ventas / Órdenes
            </a>
          </li>

          <li class="nav-item mb-2">
            <a
              th:href="@{/admin/clientes}"
              class="nav-link rounded"
              th:classappend="${activeTab == 'clientes'} ? 'active' : ''"
            >
              <i class="bi bi-people me-2"></i> Clientes
            </a>
          </li>

          <li class="nav-item mb-2">
            <a
              th:href="@{/admin/mensajes}"
              class="nav-link rounded"
              th:classappend="${activeTab == 'mensajes'} ? 'active' : ''"
            >
              <i class="bi bi-envelope-paper me-2"></i> Mensajes
            </a>
          </li>
        </ul>
        <hr class="text-secondary mt-5" />
        <div class="px-3 mb-2">
          <a th:href="@{/}" class="btn btn-outline-light w-100">
            <i class="bi bi-shop me-2"></i> Ir a la Tienda
          </a>
        </div>
        <div class="px-3">
          <form th:action="@{/logout}" method="post" class="m-0 p-0">
            <button type="submit" class="btn btn-danger w-100">
              <i class="bi bi-box-arrow-right me-2"></i>Cerrar Sesión
            </button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
